In [1]:
import os
os.getcwd()

'C:\\Users\\PAVAN TEJA\\Downloads\\projects\\ecommerce-churn-prediction\\src\\notebooks'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 100)

df = pd.read_csv(
    r"C:\Users\PAVAN TEJA\Downloads\projects\ecommerce-churn-prediction\data\raw\online_retail.csv",
    encoding="latin1"
)

print(f"Dataset Shape: {df.shape}")
df.head(10)

Dataset Shape: (525461, 8)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
5,489434,22064,PINK DOUGHNUT TRINKET POT,24,2009-12-01 07:45:00,1.65,13085.0,United Kingdom
6,489434,21871,SAVE THE PLANET MUG,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
7,489434,21523,FANCY FONT HOME SWEET HOME DOORMAT,10,2009-12-01 07:45:00,5.95,13085.0,United Kingdom
8,489435,22350,CAT BOWL,12,2009-12-01 07:46:00,2.55,13085.0,United Kingdom
9,489435,22349,"DOG BOWL , CHASING BALL DESIGN",12,2009-12-01 07:46:00,3.75,13085.0,United Kingdom

In [3]:
df["InvoiceDate"]=pd.to_datetime(df["InvoiceDate"])
df["InvoiceDate"].max(),df["InvoiceDate"].min()

(Timestamp('2010-12-09 20:01:00'), Timestamp('2009-12-01 07:45:00'))

In [4]:
df["Customer ID"].nunique()

4383

In [5]:
df["StockCode"].nunique()

4632

In [6]:
df.isnull().sum()

Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107927
Country             0
dtype: int64

In [7]:
missing_customer_pct=df["Customer ID"].isnull().mean()*100
missing_customer_pct

np.float64(20.53948818275762)

In [8]:
df.duplicated().sum()

np.int64(6865)

In [9]:
df["Quantity"].describe()

count    525461.000000
mean         10.337667
std         107.424110
min       -9600.000000
25%           1.000000
50%           3.000000
75%          10.000000
max       19152.000000
Name: Quantity, dtype: float64

In [10]:
(df["Quantity"]<0).sum()

np.int64(12326)

In [11]:
df["Price"].describe()

count    525461.000000
mean          4.688834
std         146.126914
min      -53594.360000
25%           1.250000
50%           2.100000
75%           4.210000
max       25111.090000
Name: Price, dtype: float64

In [12]:
df["Invoice"].astype(str).str.startswith("C").sum()

np.int64(10206)

In [13]:
(df["Price"]<=0).sum()

np.int64(3690)

In [14]:
df["Quantity"].sort_values(ascending=False).head(10)

90857     19152
127168    12960
127166    12960
127169    12744
127167    12480
192197    10200
135030    10000
135029    10000
135027    10000
135028    10000
Name: Quantity, dtype: int64

In [15]:
import json

data_quality_summary = {
    "total_rows": int(len(df)),
    "total_columns": int(len(df.columns)),
    "missing_values": df.isnull().sum().to_dict(),
    "duplicate_rows": int(df.duplicated().sum()),
    "date_range": {
        "start": str(df["InvoiceDate"].min()),
        "end": str(df["InvoiceDate"].max())
    },
    "negative_quantities": int((df["Quantity"] < 0).sum()),
    "cancelled_invoices": int(df["Invoice"].astype(str).str.startswith("C").sum()),
    "missing_customer_ids": int(df["Customer ID"].isnull().sum()),
    "missing_customer_ids_percentage": round(float(missing_customer_pct), 2)
}

with open(r"C:\Users\PAVAN TEJA\Downloads\projects\ecommerce-churn-prediction\data\raw\data_quality_summary.json", "w") as f:
    json.dump(data_quality_summary, f, indent=4)

data_quality_summary

{'total_rows': 525461,
 'total_columns': 8,
 'missing_values': {'Invoice': 0,
  'StockCode': 0,
  'Description': 2928,
  'Quantity': 0,
  'InvoiceDate': 0,
  'Price': 0,
  'Customer ID': 107927,
  'Country': 0},
 'duplicate_rows': 6865,
 'date_range': {'start': '2009-12-01 07:45:00', 'end': '2010-12-09 20:01:00'},
 'negative_quantities': 12326,
 'cancelled_invoices': 10206,
 'missing_customer_ids': 107927,
 'missing_customer_ids_percentage': 20.54}