In [2]:
import pandas as pd
import json

pd.set_option("display.max_columns",None)
df_clean = pd.read_csv(r"C:\Users\PAVAN TEJA\Downloads\projects\ecommerce-churn-prediction\data\processed\cleaned_transactions.csv",encoding="latin1")
print(f"Cleand data set size{df_clean.shape}")
df_clean.head()

Cleand data set size(342273, 13)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,DayOfWeek,Hour
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085,United Kingdom,83.4,2009,12,1,7
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom,81.0,2009,12,1,7
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom,81.0,2009,12,1,7
3,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085,United Kingdom,30.0,2009,12,1,7
4,489434,22064,PINK DOUGHNUT TRINKET POT,24,2009-12-01 07:45:00,1.65,13085,United Kingdom,39.6,2009,12,1,7

In [3]:
assert df_clean.isnull().sum().sum()==0, "Missing values found!"
print("CHECK 1 PASSED : No missing values")

CHECK 1 PASSED : No missing values

In [4]:
assert (df_clean["Quantity"]>0).all(), "Negative quantities found!"
print("CHECK 2 PASSED : All quantites are positive")

CHECK 2 PASSED : All quantites are positive

In [5]:
assert (df_clean["UnitPrice"]>0).all(), "Invalied prices found"
print("CHECK 3 PASSED : All prices are positive")

CHECK 3 PASSED : All prices are positive

In [6]:
assert df_clean["CustomerID"].dtype=="int64", "Customer ID is not integer!"
print("CHECK 4 PASSED : Customer ID is integer type")

CHECK 4 PASSED : Customer ID is integer type

In [7]:
df_clean["InvoiceDate"]=pd.to_datetime(df_clean["InvoiceDate"])
print("Date Range:")
print("Start:",df_clean["InvoiceDate"].min())
print("End  :",df_clean["InvoiceDate"].max())

Date Range:
Start: 2009-12-01 07:45:00
End  : 2010-12-09 20:01:00

In [8]:
summary_stats = {
    "total_rows": int(len(df_clean)),
    "total_columns": int(len(df_clean.columns)),
    "unique_customers": int(df_clean["CustomerID"].nunique()),
    "unique_products": int(df_clean["StockCode"].nunique()),
    "unique_countries": int(df_clean["Country"].nunique()),
    "total_revenue": round(float(df_clean["TotalPrice"].sum()), 2),
    "average_order_value": round(
        df_clean.groupby("InvoiceNo")["TotalPrice"].sum().mean(), 2
    )
}

summary_stats

{'total_rows': 342273,
 'total_columns': 13,
 'unique_customers': 4140,
 'unique_products': 3644,
 'unique_countries': 37,
 'total_revenue': 4479987.02,
 'average_order_value': np.float64(260.22)}

In [9]:
validation_report = {
    "total_rows": summary_stats["total_rows"],
    "total_columns": summary_stats["total_columns"],
    "date_range": {
        "start": str(df_clean["InvoiceDate"].min()),
        "end": str(df_clean["InvoiceDate"].max())
    },
    "unique_customers": summary_stats["unique_customers"],
    "unique_products": summary_stats["unique_products"],
    "unique_countries": summary_stats["unique_countries"],
    "total_revenue": summary_stats["total_revenue"],
    "average_order_value": summary_stats["average_order_value"],
    "validation_passed": True,
    "checks": {
        "no_missing_values": True,
        "all_quantities_positive": True,
        "all_prices_positive": True,
        "customer_id_is_integer": True
    }
}

with open(r"C:\Users\PAVAN TEJA\Downloads\projects\ecommerce-churn-prediction\data\processed\validation_report.json", "w") as f:
    json.dump(validation_report, f, indent=4)

print("‚úÖ Validation report saved to data/processed/validation_report.json")

‚úÖ Validation report saved to data/processed/validation_report.json

In [10]:
print("üéâ ALL DATA VALIDATION CHECKS PASSED SUCCESSFULLY")

üéâ ALL DATA VALIDATION CHECKS PASSED SUCCESSFULLY

In [11]:
import pandas as pd

df = pd.read_csv(r"C:\Users\PAVAN TEJA\Downloads\projects\ecommerce-churn-prediction\data\processed\customer_features_step1.csv")

# 1Ô∏è‚É£ Number of columns
print("Number of columns:", len(df.columns))

# 2Ô∏è‚É£ First 10 column names
print("\nFirst 10 column names:")
print(df.columns[:10])

# 3Ô∏è‚É£ Missing values check
print("\nTotal missing values:", df.isnull().sum().sum())

Number of columns: 27

First 10 column names:
Index(['CustomerID', 'churn', 'Recency', 'Frequency', 'Monetary',
       'TotalQuantity', 'AvgOrderValue', 'TotalInvoices',
       'CustomerLifetimeDays', 'AvgDaysBetweenPurchases'],
      dtype='object')

Total missing values: 0

In [12]:
import pandas as pd

df = pd.read_csv(r"C:\Users\PAVAN TEJA\Downloads\projects\ecommerce-churn-prediction\data\processed\customer_features_step1.csv")

# 1Ô∏è‚É£ Number of columns
print("Number of columns:", len(df.columns))

# 2Ô∏è‚É£ First 10 column names
print("\nFirst 10 column names:")
print(df.columns[:10])

# 3Ô∏è‚É£ Missing values check
print("\nTotal missing values:", df.isnull().sum().sum())

Number of columns: 27

First 10 column names:
Index(['CustomerID', 'churn', 'Recency', 'Frequency', 'Monetary',
       'TotalQuantity', 'AvgOrderValue', 'TotalInvoices',
       'CustomerLifetimeDays', 'AvgDaysBetweenPurchases'],
      dtype='object')

Total missing values: 0

In [13]:
import pandas as pd
import json

df = pd.read_csv(r"C:\Users\PAVAN TEJA\Downloads\projects\ecommerce-churn-prediction\data\processed\customer_features.csv")

feature_info = {
    "total_customers": int(len(df)),
    "total_features": int(len(df.columns) - 2),  # exclude CustomerID + churn
    "churn_distribution": df["churn"].value_counts(normalize=True).to_dict(),
    "feature_list": list(df.columns),
    "missing_values": int(df.isnull().sum().sum())
}

with open(r"C:\Users\PAVAN TEJA\Downloads\projects\ecommerce-churn-prediction\data\processed\feature_info.json", "w") as f:
    json.dump(feature_info, f, indent=4)

feature_info

{'total_customers': 3059,
 'total_features': 25,
 'churn_distribution': {0: 0.6338672768878718, 1: 0.36613272311212813},
 'feature_list': ['CustomerID',
  'churn',
  'Recency',
  'Frequency',
  'Monetary',
  'TotalQuantity',
  'AvgOrderValue',
  'TotalInvoices',
  'CustomerLifetimeDays',
  'AvgDaysBetweenPurchases',
  'PurchaseRatePerMonth',
  'WeekendPurchaseRatio',
  'EveningPurchaseRatio',
  'UniqueActiveMonths',
  'UniqueActiveDays',
  'MonthlyPurchaseVariance',
  'UniqueProducts',
  'ProductDiversityRatio',
  'AvgItemsPerInvoice',
  'RepeatPurchaseRatio',
  'TopProductConcentration',
  'RecencyScore',
  'MonetaryScore',
  'RevenuePerMonth',
  'QuantityPerMonth',
  'InvoiceFrequencyScore',
  'EngagementScore'],
 'missing_values': 0}